<%# entity: question or answer %>
<div class="d-flex justify-content-end">
    <div class="btn-group question-vote-buttons">
        <button 
            id="btn-upvote"
            class="btn btn-sm vote-button" 
            data-vote="upvote" 
            data-id="<%= entity.id %>" 
            data-type="<%= format_entity_name(entity) %>" 
            <%= "enabled" if user_upvoted?(entity, current_user) %>
        >
            <%= icon('fa-solid', 'up-long')%> Upvote &#8226; 
            <span class="likes-count-<%= entity.id %>"> <%= entity.upvotes_count %> </span>
        </button>

        <button 
            id="btn-downvote"
            class="btn btn-sm vote-button" 
            data-vote="downvote" 
            data-id="<%= entity.id %>" 
            data-type="<%= format_entity_name(entity) %>"
            <%= "enabled" if user_downvoted?(entity, current_user) %>
        >
            <%= icon('fa-solid', 'down-long')%>
        </button>
    </div>
    <p class="error-msg-vote bg-danger text-light"></p>

</div>