<%# entity: question or answer %>
<div class="btn-group question-vote-buttons">
    <button 
        id="btn-upvote"
        class="btn btn-primary btn-sm vote-button" 
        data-vote="upvote" 
        data-id="<%= entity.id %>" 
        data-type="<%= entity.class.name.pluralize.downcase %>" 
        <%= "enabled" if entity.upvotes.pluck(:user_id).include? current_user.id %>
    >
        <span class="material-icons">thumb_up</span> Upvote &#8226; 
        <span class="likes-count-<%= entity.id %>"> <%= entity.upvotes_count %> </span>
    </button>

    <button 
        id="btn-downvote"
        class="btn btn-danger btn-sm vote-button" 
        data-vote="downvote" 
        data-id="<%= entity.id %>" 
        data-type="<%= entity.class.name.pluralize.downcase %>"
        <%= "enabled" if entity.downvotes.pluck(:user_id).include? current_user.id %>
    >
        <span class="material-icons">thumb_down</span>
    </button>
</div>