
<h1>Questions</h1>

<%= link_to 'New Question', new_question_path, class: 'btn btn-success' %>

<% @questions.each do |question| %>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card question-card" data-q-id="<%= question.id %>">
              <div class="card-header d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-center mb-3">

                  <% if question.user&.image&.attached? %>
                    <%= image_tag(question.user.image, style: 'height: 30px; width: 30px; display: inline-block; border-radius: 50%;') %>
                  <% else %>
                    <span class="material-icons md-24 rounded-circle">
                      account_circle
                    </span>
                  <% end %>
                  <%= link_to question.user.name, profile_path(question.user_id) %>
                </div>

                <%= link_to question do %>
                  <i class="material-icons">visibility</i>
                <% end %>
              </div>

              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to question.title.titlecase, question %>
                </h5>
                <p class="card-text">
                  <%= truncate(question.body.capitalize, length: 140) %>
                </p>

                <%= render partial: 'voting', locals: { entity: question } %>
              </div>

              <div class="card-footer text-muted d-flex justify-content-between align-items-center">

                <div class="d-flex flex-column-reverse w-100 align-items-center">
                  <div class="answers-container">
                  </div>

                  <%# <%= render partial: 'answers/answer', collection: @top_answer, as: :answer %>

                  <%# <%= render partial: 'answers/form', local: { question: question } %> 
                </div>
                
              </div>
            </div>
        </div>
      </div>
    </div>  
<% end %>

<br>


