<div class="d-flex justify-content-center align-items-center">
  <div class="homepage-ask">
    <div class="card d-flex flex-row align-items-center">
        <div>
            <% if current_user.image&.attached? %>
                <%= image_tag(current_user.preview('30x30'), class: 'circular-image display-image' ) %>
            <% else %>
                <%= icon('fa-solid', 'circle-user fa-2x')%>
            <% end %>
        </div>
         <%= link_to new_question_path, data: {toggle: "tooltip", placement:"bottom"}, title: "Add New Question" do %>
          <div class="input-field">
          <p>Do you have any question today? </p>
          <%= icon('fa-solid', 'plus fa-1x')%>
          </div>
        <% end %>
        
    </div>
  </div>
</div>

<% @questions.each do |question| %>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card question-card" data-q-id="<%= question.id %>">
              
              <%= render partial: 'questions/card_body', locals: { question: question } %>

              <div class="card-footer text-muted d-flex justify-content-between align-items-center w-100">

                <div class="d-flex flex-column-reverse w-100 align-items-center">
                
                  <div class="answers-container">
                    <% if answers_exist?(question) %>
                      <h5 class="text-center"> Top 2 Answers </h5><hr>
                    <% end %>
                  </div>
                  <%= render partial: 'answers/form', locals: { question: question } %>
                </div>
                <p class="error-msg-answer bg-danger text-light"></p>
                
              </div>
            </div>
        </div>
      </div>
    </div>  
<% end %>

<% if @questions.empty? %>
  <h5 class="text-center m-5">Follow <%= link_to 'topics', topics_path %> to display relevant questions.</h5>
<% end %>

<%= paginate @questions, class:"text-center" %>


