
<h1>Questions</h1>

<%= link_to 'New Question', new_question_path %>

<% @questions.each do |question| %>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <%= question.title.titlecase%>
              </h5>
              <p class="card-text">
                <%= truncate(question.body.capitalize, length: 140) %>
              </p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between align-items-center">
              <span>Asked by 
                <%= link_to question.user.name, profile_path(question.user_id) %>
              </span>

              <div class="d-flex align-items-center">
                <div class="btn-group question-vote-buttons">
                  <button class="btn btn-primary btn-sm vote-button" data-vote="like" data-q-id="<%= question.id %>">
                    <span class="material-icons">thumb_up</span> Upvote &#8226; 
                    <span class="likes-count-<%= question.id %>"> <%= question.likes_count %> </span>
                  </button>
                  <button class="btn btn-danger btn-sm vote-button" data-vote="dislike" data-q-id="<%= question.id %>">
                    <span class="material-icons">thumb_down</span>
                  </button>
                </div>
                <%= link_to question do %>
                  <i class="material-icons">visibility</i>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>  
<% end %>

<br>


