<%= form_with(model: topic, local: true) do |form| %>
  <% if topic&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center mb-2">
    <% if topic.image&.attached? %>
        <%= image_tag(topic.preview('400x400'), class: 'topics-image-preview') %>
    <% else %>
      <%= icon('fa-solid', 'panorama fa-5x')%>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.file_field :image, class: 'form-control-file text-center', accept: 'image/jpeg, image/png', required: (true unless topic.image&.attached?) %>
  </div>

  <div class="form-group">
      <%= form.label :title, class: 'control-label' %>
      <%= form.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
      <%= form.label :description, class: 'control-label' %>
      <%= form.text_area :description, class: 'form-control', required: true %>
  </div>

  <div class="form-group text-center">
    <%= form.submit class: 'btn btn-primary px-5' %>
  </div>
<% end %>
