<div>
    <div class="row d-flex flex-column align-items-center">
      <div class="col-md-6 d-flex justify-content-center mt-4">
        <!-- Profile Image -->
        <% if current_user.image&.attached? %>
            <%= image_tag(current_user.image, class: 'profile-image') %>
        <% else %>
            <%= icon('fa-solid', 'user fa-5x')%>
        <% end %>
        
      </div>
      <div class="col-md-6 mt-3">
        <!-- Profile Information -->
        <div class="card-header"> 
          <h1 class="text-center card-title"><%= current_user.name.titlecase %></h1>
        </div>
        <div class="card-body mx-4">
          <p><strong>Email:</strong> <%= current_user.email %></p>
          <p><strong>Username:</strong> <%= current_user.username %></p>
          <p><strong>Age:</strong> <%= current_user.age %></p>
          <p><strong>Gender:</strong> <%= current_user.gender %></p>
        </div>
      </div> 
    </div>
</div>